<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="theme-color" content="#688bb9" />
        <link rel="shortcut icon" type="image/png" href="{{ prefix }}/app/template/style/images/favicon.png" />
        <link rel="apple-touch-icon" href="{{ prefix }}/app/template/style/images/favicon.png" />
        <meta name="msapplication-config" content="none" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}


    </head>
    <body>
        {% if dialog != 1 %}
            <nav class="uk-navbar-container" uk-navbar uk-sticky style="box-shadow: 0 0 5px grey">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="{{ prefix }}/" title="alpha" style="color:#688bb9; font-size:2.5em;">𝛂</a>
                    <ul class="uk-navbar-nav">
                        {% if user %}
                            <li {% if '/rss' in route %}class="uk-active"{% endif %}><a href="{{ prefix }}/rss/home"><i class="icofont icofont-rss-feed"></i><span class="uk-visible@s">&nbsp;RSS</span></a></li>
                            <li {% if '/links' in route %}class="uk-active"{% endif %}><a href="{{ prefix }}/links"><i class="icofont icofont-link"></i><span class="uk-visible@s">&nbsp;Links</span></a></li>
                        {% endif %}
                        <li id="empty_nav"></li>
                    </ul>
                </div>

                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        {% if user %}
                            <li {% if route == '/preferences' %}class="uk-active"{% endif %}><a href="{{ prefix }}/preferences"><i class="icofont icofont-user"></i><span class="uk-visible@s">&nbsp;{{ user.name }}</span></a></li>
                            <li><a href="{{ prefix }}/logout">&nbsp;<i class="icofont icofont-logout"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endif %}


        <div id="content" uk-height-viewport="offset-top: true" class="{% if user and user.background_url %}bg{% endif %}">
            {% block content %}{% endblock %}
        </div>

        <link rel="stylesheet" type="text/css" href="{{ prefix }}/app/template/style/css/icofont.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/css/uikit.min.css"/>
        <link rel="stylesheet" type="text/css" href="{{ prefix }}/app/template/style/css/main.css"/>
        {% block css %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.35/js/uikit.min.js"></script>
        <script>
            var showAction = function(text) {
                $('#empty_nav').html(text);
            };

            var cleanAction = function() {
                $('#empty_nav').html('');
            };

            {% for m in messages %}
            Notification.requestPermission(function (permission) {
                if (Notification.permission === "granted") {
                    new Notification('{{ m }}');
                }
            });

            UIkit.notification({
                message: '{{ m }}',
                status: 'primary'
            });
            {% endfor %}

        </script>

        {% if user and user.background_url %}
            <style>
                #content {
                    background-image: url('{{ user.background_url }}');
                    background-size: cover;
                    background-attachment: fixed;
                    background-position: center center;
                }

                #content.bg > .uk-container {
                    background-color: white;
                }
            </style>
        {% endif %}

        {% block script %}{% endblock %}
    </body>
</html>