<!DOCTYPE html>
<html>
        <head>
            {% block head %}
                <title>{% block title %}{% endblock %} - Badin</title>
            {% endblock %}
        </head>
    <body>

        <nav class="uk-navbar-container" uk-navbar uk-sticky style="box-shadow: 0 0 5px grey">
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="{{ prefix }}"><i style="color:#688bb9; text-shadow: 0 0 10px white;" class="icofont icofont-rss-feed"></i></a>
                <ul class="uk-navbar-nav">
                    {% if user %}
                        <li><a href="{{ prefix }}/config"><i class="icofont icofont-gears"></i><span class="uk-visible@s">&nbsp;Config</span></a></li>
                    {% endif %}
                    {% if user and user.id == 1 %}
                        <li><a href="{{ prefix }}/update" id="all_update"><i class="icofont icofont-refresh"></i><span class="uk-visible@s">&nbsp;update</span></a></li>
                    {% endif %}
                    <li id="empty_nav"></li>
                </ul>
            </div>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    {% if user %}
                        <li><a><i class="icofont icofont-user"></i><span class="uk-visible@s">&nbsp;{{ user.name }}</span></a></li>
                        <li><a href="{{ prefix }}/logout">&nbsp;<i class="icofont icofont-logout"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>


        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="app/template/style/css/icofont.css"/>
        <link rel="stylesheet" type="text/css" href="app/template/style/css/main.css"/>
        {% block css %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script>
            var showAction = function(text) {
                $('#empty_nav').html(text);
            };

            var cleanAction = function() {
                $('#empty_nav').html('');
            };

            // notification
            Notification.requestPermission(function (permission) {
                if(!('permission' in Notification)) {
                    Notification.permission = permission;
                }
            });
        </script>
        {% block script %}{% endblock %}
    </body>
</html>