<!DOCTYPE html>
<html>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="theme-color" content="#688bb9" />
            <link rel="shortcut icon" type="image/png" href="{{ prefix }}/app/template/style/images/favicon.png" />
            <link rel="apple-touch-icon" href="{{ prefix }}/app/template/style/images/favicon.png" />
            <meta name="msapplication-config" content="none" />
            <meta http-equiv="x-ua-compatible" content="ie=edge">

            {% block head %}
                <title>{% block title %}{% endblock %}</title>
            {% endblock %}


        </head>
    <body>
        <nav class="uk-navbar-container" uk-navbar uk-sticky style="box-shadow: 0 0 5px grey">
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="{{ prefix }}/" title="alpha" style="color:#688bb9; font-size:2em;">𝛂</a>
                <ul class="uk-navbar-nav">
                    {% if user %}
                        <li><a href="{{ prefix }}/config"><i class="icofont icofont-gears"></i><span class="uk-visible@s">&nbsp;Config</span></a></li>
                    {% endif %}
                    {% if user and user.id == 1 %}
                        <li><a href="{{ prefix }}/update" id="all_update"><i class="icofont icofont-refresh"></i><span class="uk-visible@s">&nbsp;update</span></a></li>
                    {% endif %}
                    <li id="empty_nav"></li>
                </ul>
            </div>

            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    {% if user %}
                        <li><a href="{{ prefix }}/preferences"><i class="icofont icofont-user"></i><span class="uk-visible@s">&nbsp;{{ user.name }}</span></a></li>
                        {% if ldap == null %}
                            <li><a href="{{ prefix }}/logout">&nbsp;<i class="icofont icofont-logout"></i></a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </nav>


        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <link rel="stylesheet" type="text/css" href="app/template/style/css/icofont.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/css/uikit.min.css"/>
        <link rel="stylesheet" type="text/css" href="app/template/style/css/main.css"/>
        {% block css %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.30/js/uikit.min.js"></script>
        <script>
            var showAction = function(text) {
                $('#empty_nav').html(text);
            };

            var cleanAction = function() {
                $('#empty_nav').html('');
            };

            {% for m in messages %}
                Notification.requestPermission(function (permission) {
                    if (Notification.permission === "granted") {
                        new Notification('{{ m }}');
                    }
                });

                UIkit.notification({
                    message: '{{ m }}',
                    status: 'primary'
                });
            {% endfor %}

        </script>
        {% block script %}{% endblock %}
    </body>
</html>