<div id="#top_flow"></div>
<div class="uk-container">
    {% for _item in items %}
        <article id="item_{{ _item.id }}" data-id="{{ _item.id }}" class="uk-article item_flow uk-padding-small" uk-scrollspy="cls:uk-animation-fade" style="background-color: white">
            <p class="uk-text-lead">
                <a class="uk-link-reset" rel="nofollow noreferrer noopener" target="_blank" href="{{ _item.link }}">{{ _item.title }}</a>
            </p>
            <p class="uk-article-meta">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-lazy_src="{{ _item.favicon }}" alt="" />
                <a href="#">{{ _item.sub_name }} - {{ _item.date_time|date("d/m/Y H:i", "Europe/Paris") }}</a>
                <span class="uk-visible@m status_read {{ _item.read ? "active" : null }}"><i class="icofont icofont-check"></i></span>
                <span class="uk-visible@m status_favourite {{ _item.starred ? "active" : null }}"><i class="icofont icofont-favourite"></i></span>
            </p>
            <div>
                {{ _item.content|raw|nl2br }}
            </div>

            <p class="uk-article-meta footer">
                <span class="status_read {{ _item.read ? "active" : null }}"><i class="icofont icofont-check"></i></span>
                <span class="status_favorite {{ _item.starred ? "active" : null }}"><i class="icofont icofont-favourite"></i></span>
            </p>
        </article>

        <hr class="uk-divider-icon"/>
    {% else %}
        <div class="uk-card " style="background-color: white">
            <p class="uk-text-center uk-padding fast_options">
                <a onclick="config()">
                    <i class="icofont icofont-favourite {{ starred ? "active" : null }}"></i>
                    <i class="icofont icofont-key {{ nsfw ? "active" : null }}"></i>
                    <i class="icofont icofont-eye {{ read ? "active" : null }}"></i>
                </a><br/>
                <span onclick="refresh();" class="uk-text-bold">empty <br/><i style="font-size:2em" class="icofont icofont-emo-simple-smile"></i>
                </span>
            </p>
        </div>
    {% endfor %}
</div>

<script>
    populateCount(JSON.parse('{{ count|raw }}'));

    prepareItem(JSON.parse('{{ items_json|raw }}'));

    updateIcons({{ starred }}, {{ nsfw }}, {{ read}});

    {# @TODO : cleanup this ... #}
    $('iframe').each(function(it, elt) {
       $(elt).css({
           width : '100%'
       });
       $(elt).css({
          height: (56.5*$(elt).width()/100)+"px"
       });
    });
</script>