{% extends "template/base.twig" %}

{% block title %}Pro{% endblock %}

{% block content %}
    <div uk-grid style="height:100%; background-color: white">
        <div class="uk-width-4-5">
            <a onclick="addTask();" class="uk-button uk-button-primary">Add Task</a>
            <div uk-grid class="uk-child-width-expand" style="min-height: 80%;">

                {% for k, v in kanban %}
                    <div id="k_{{ k }}">
                        <p><i class="icofont icofont-{{ v.icon }}"></i> {{ k }}</p>
                        <div class="droppable" data-type="{{ k }}">
                            {% for l in v.list %}
                                <div id="task_{{ l.id }}" class="item draggable" data-id="{{ l.id }}">
                                    <span style="color:{{ l.organisation_color }}; float:right" title="{{ l.organisation_name }}"><i class="icofont icofont-ui-press"></i></span>
                                    {{ l.title }}
                                    {% if l.nb_subtask %}
                                        <progress class="uk-progress" value="{{ l.nb_finished }}" max="{{ l.nb_subtask }}"></progress>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="uk-width-1-5 uk-padding uk-padding-remove-top" id="result"></div>
    </div>


    <style>
        .droppable {
            border:dashed 1px #adadad;
            min-height:80%;
        }

        .item {
            border-radius: 3px;
            margin:5px; padding:5px;
            background-color: white;
            border:solid 1px #646464;
        }

        .item.active {
            border-color:#1e87f0;
        }

        .item:hover {
            cursor:move;
            cursor: grab;
        }

        .item.ui-draggable-dragging {
            cursor: grabbing;
            box-shadow: 9px 9px 3px rgba(150,150,150, .5);
        }
    </style>
{% endblock %}

{% block script %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function() {
            $(".draggable").draggable({});
            $(".droppable").droppable({
                drop: function (event, ui) {
                    var target_type = $(this).data("type");
                    var element = ui.draggable;
                    var id = element.data("id");
                    if (id && target_type) {
                        $.ajax({
                            method: 'post',
                            url: '{{ prefix }}/pro/task/move',
                            data: 'id=' + id + '&type=' + target_type,
                            success: function () {
                                $('#k_' + target_type).find('div.droppable').append(element);
                                element.css({left: '0', top: '0'});
                            }
                        });
                    }
                }
            });

            $('#result').on('change', 'input[type=checkbox]', function() {
                var id = $(this).attr('name');
                var checked = $(this).is(':checked');
                var _id = $(this).data("id");

                $.ajax({
                    url : '{{ prefix }}/pro/subtask',
                    method : 'post',
                    data: 'id='+id+'&val='+(checked ? 1 : 0),
                    success: function() {
                        refreshTask(_id);
                    }
                });
            });
        });

        $('div.item').on('click', function() {
            var id = $(this).data("id");
            refreshTask(id);
        });

        var refreshTask = function(id) {
            $.ajax({
                url: '{{ prefix }}/pro/task/'+id,
                method : 'get',
                beforeSend : function() {
                    $('.item').removeClass('active');
                },
                success: function(data) {
                    $('#result').html(data);
                }
            });
        };

        var addTask = function() {
            var name = prompt("title");
            if (name) {
                $.ajax({
                    url: '{{ prefix }}/pro/task/add',
                    method: 'post',
                    data: 'name=' + name,
                    beforeSend: function () {
                        $('.item').removeClass('active');
                    },
                    success: function (data) {
                        var dom = $('<div id="task_' + data + '" class="item draggable" data-id="' + data + '"></div>');
                        dom.prependTo('#k_backlog div.droppable');
                        $(dom).draggable({});
                        refreshTask(data);
                    }
                });
            }
        };

        var updateTask = function(form) {
            var id = $(form).data("id");
            var del = $(form).find('input[name=del]').val();
            $.ajax({
                url: '{{ prefix }}/pro/task/edit',
                method: 'post',
                data: $(form).serialize(),
                success: function(data) {
                    refreshTask(id);
                }
            });
            return false;
        };

        var addSubtask = function(task_id) {
            var name = prompt('Title');
            if (name) {
                $.ajax({
                    url: '{{ prefix }}/pro/subtask/add',
                    method: 'post',
                    data: 'id='+task_id+'&name='+name,
                    success: function(data) {
                        refreshTask(task_id);
                    }
                });
            }
        };


    </script>
{% endblock %}