<form onsubmit="return updateTask(this)" method="post" data-id="{{ task.id }}">
    <input type="hidden" name="id" value="{{ task.id }}" />

    <p style="font-size:1.3em;">
        <input type="text" name="title" value="{{ task.title }}" class="uk-input"/>
    </p>

    <textarea name="comment" class="uk-textarea" rows="5">{{ task.comment|raw }}</textarea>

    <p>
        <button class="uk-button uk-button-primary">Save</button>
    </p>
</form>

<h3>Tasks</h3>
<ul class="uk-list" id="list_subtask">
    {% for s in task.subtask %}
        <li>
            <label>
                <input type="checkbox" class="uk-checkbox" {{ s.finished ? "checked" : "" }} />
                {{ s.title }}
            </label>
        </li>
    {% endfor %}
</ul>

<script>
    $('.item').removeClass('active');
    var dom = '';
    dom = dom + '<span style="color:{{ task.organisation_color }}; float:right">{{ task.organisation_name }}</span>\n';
    dom = dom+'{{ task.title }}';
    {% if task.subtask|length %}
        dom = dom+'<progress class="uk-progress" value="1" max="{{ task.subtask|length }}"></progress>';
    {% endif %}
    $('#task_{{ task.id }}').html(dom).addClass('active');

    $('#list_subtask').find('input').on('change', function() {
       //@TODO
        alert('test');
    });
</script>