{% if task %}
    <form onsubmit="return updateTask(this)" method="post" data-id="{{ task.id }}">
        <input type="hidden" name="id" value="{{ task.id }}" />
        <input type="hidden" name="del" value="0" id="del_task" />

        <p style="font-size:1.3em;">
            <input type="text" name="title" value="{{ task.title }}" class="uk-input"/>
        </p>

        <p>
            <select name="organisation_id" class="uk-select">
                <option value="">&mdash; none</option>
                {% for o in organisations %}
                    <option value="{{ o.id }}" {% if o.id == task.organisation_id %}selected{% endif %}>{{ o.name }}</option>
                {% endfor %}
            </select>
        </p>

        <textarea name="comment" class="uk-textarea" rows="5">{{ task.comment|raw }}</textarea>

        <p>
            <button class="uk-button uk-button-primary">Save</button>
            <button class="uk-button uk-button-secondary" onclick="$('#del_task').val('1');">Delete</button>
        </p>
    </form>

    <h3>Tasks</h3>
    <ul class="uk-list" id="list_subtask">
        {% for s in task.subtask %}
            <li>
                <label>
                    <input type="checkbox" data-id="{{ task.id }}" name="{{ s.id }}" value="1" class="uk-checkbox" {{ s.finished ? "checked" : "" }} />
                    {{ s.title }}
                </label>
            </li>
        {% endfor %}
        <li>
            <a href="#" onclick="addSubtask({{ task.id }})">New</a>
        </li>
    </ul>

    <script>
        $('.item').removeClass('active');
        var dom = '';
        dom = dom + '<span style="color:{{ task.organisation_color }}; float:right">{{ task.organisation_name }}</span>\n';
        dom = dom+'{{ task.title }}';
        {% if task.subtask|length %}
        dom = dom+'<progress class="uk-progress" value="{{ task.nb_finished }}" max="{{ task.subtask|length }}"></progress>';
        {% endif %}
        $('#task_{{ task.id }}').html(dom).addClass('active');
    </script>
{% else %}
    <script>
        $('#result').html('');
        $('#task_{{ id }}').remove();
    </script>
{% endif %}