{% extends "template/base.twig" %}

{% block title %}Links{% endblock %}

{% block content %}
    <div class="uk-container">
        <div uk-sticky="offset:80">
            <form method="get">
                <input type="hidden" id="page" name="start" value="{{ start }}" onchange="this.form.submit();" />
                <div>
                    <input type="text" name="search" value="{{ search }}" class="uk-input" placeholder="Search for text, tag ..." style="width:100px;" />
                    <select name="type" class="uk-select" style="width:100px;">
                        <option value="">- All types</option>
                        <option value="link" {{ type == "link" ? "selected" : null }}>Link</option>
                        <option value="image" {{ type == "image" ? "selected" : null }}>Image</option>
                        <option value="audio" {{ type == "audio" ? "selected" : null }}>Audio</option>
                        <option value="video" {{ type == "video" ? "selected" : null }}>Video</option>
                        <option value="article" {{ type == "article" ? "selected" : null }}>Article</option>
                    </select>
                    <select name="private" class="uk-select" style="width:100px;">
                        <option value="">Pub & Priv</option>
                        <option value="1" {{ private == 1 ? "selected" : null }}>Only private</option>
                        <option value="2" {{ private == 2 ? "selected" : null }}>Only public</option>
                    </select>
                    <select name="nsfw" class="uk-select" style="width:100px;">
                        <option value="">NSFW and SFW</option>
                        <option value="2" {{ nsfw == 2 ? "selected" : null }}>SFW Only</option>
                        <option value="1" {{ nsfw == 1 ? "selected" : null }}>NSFW Only</option>
                    </select>
                    <select name="list" class="uk-select" style="width:100px;">
                        <option value="l" {{ list == 'l' ? "selected" : null }}>List</option>
                        <option value="g" {{ list == 'g' ? "selected" : null }}>Gallery</option>
                        <option value="s" {{ list == 's' ? "selected" : null }}>Slideshow</option>
                    </select>
                    <button class="uk-button uk-button-primary"><i class="icofont icofont-refresh"></i></button>
                    <a href="javascript:(function(){var%20url%20=%20location.href;var%20title%20=%20document.title%20||%20url;window.open('{{ url }}/links/edit/?dialog=1&amp;url='%20+%20encodeURIComponent(url)+'&amp;title='%20+%20encodeURIComponent(title)+'&amp;source=bookmarklet','_blank','menubar=no,height=800,width=600,toolbar=no,scrollbars=yes,status=no,dialog=1');})();" class="uk-button uk-button-default uk-visible@m"> <i class="icofont icofont-share"></i> </a>
                    <a class="uk-button uk-button-default" href="{{ prefix }}/links/edit/"><i class="icofont icofont-plus"></i></a>
                </div>
            </form>
        </div>

        <div>

            <ul class="uk-pagination uk-flex-center uk-margin-top">
                <li><a onclick="{% if start > 0 %}$('#page').val({{ start-1 }}).change();{% endif %}"><span uk-pagination-previous></span></a></li>

                {% if start > 2 %}
                    <li><a onclick="$('#page').val(0).change();">0</a></li>
                    <li><a>...</a></li>
                {% endif %}

                {% if start > 0 %}
                    <li><a onclick="$('#page').val(parseInt($('#page').val())-1).change();">{{ start-1 }}</a></li>
                {% endif %}
                <li class="uk-active"><a onclick="$('#page').val({{ start }}).change();">{{ start }}</a></li>
                {% if start < total %}
                <li><a onclick="$('#page').val(parseInt($('#page').val())+1).change();">{{ start+1 }}</a></li>
                {% endif %}

                {% if total - start > 1 %}

                <li><a>...</a></li>
                <li><a onclick="$('#page').val({{ total }}).change();">{{ total }}</a></li>
                {% endif %}


                <li><a onclick="$('#page').val(parseInt($('#page').val())+1).change();"><span uk-pagination-next></span></a></li>
            </ul>

            {% if list == "g" %}
                <div class="uk-flex uk-flex-center uk-flex-wrap uk-flex-wrap-between uk-flex-between" id="flex_gallery" uk-scrollspy="cls: uk-animation-fade;">
                    {% for l in links %}
                        <a id="link_{{ l.id }}" href="{{ l.url }}" target="_blank" rel="noopener noreferer nofollow" style="{% if l.width and l.height %} height:200px; width:{{ l.width*200/l.height }}px; {% endif %}">
                            <div></div>
                        </a>
                    {% endfor %}
                </div>

                <style>
                    #flex_gallery a {
                        margin-top:20px;
                        display: block;
                    }

                    #flex_gallery a div {
                        display: none;
                        width:100%;
                        height:100%;
                        background-color: #b5b5b5;
                        background-size: cover;
                    }
                </style>


                <script>
                    {% for l in links %}
                    var _img_{{ l.id }} = new Image();
                    _img_{{ l.id }}.onload = function() {
                        var _img = $(this);
                        var target = $('#link_{{ l.id }}');

                        $('#link_{{ l.id }} div').css({
                            'background-image': 'url('+_img_{{ l.id }}.src+')'
                        }).fadeIn();
                    };
                    _img_{{ l.id }}.src = '{{ l._img}}';
                    {% endfor %}
                </script>
            {% elseif list == "s" %}
                <ul uk-lightbox id="lb">
                    {% for l in links %}
                        <li><a data-caption="{% for t in l._tags %}{{ t }} {% endfor %}" href="{{ l._img }}">{{ l._img }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <ul class="uk-list uk-list-divider">
                    {% for l in links %}
                        <li id="link_{{ l.id }}">
                            <a href="{{ prefix }}/links/edit/{{ l.id }}"><i class="icofont icofont-edit"></i></a>
                            <span {{ (l.type == "image" or (l.type == "video" and l.url|slice(-3) == "gif")) ? 'uk-lightbox' : '' }}>
                                {% if l.type == "video" %}
                                    <i class="icofont icofont-video"></i>
                                {% elseif l.type == "audio" %}
                                    <i class="icofont icofont-audio"></i>
                                {% elseif l.type == "image" %}
                                    <i class="icofont icofont-picture"></i>
                                {% elseif l.type == "article" %}
                                    <i class="icofont icofont-pen"></i>
                                {% else %}
                                    <i class="icofont icofont-link"></i>
                                {% endif %}
                                <a href="{{ l.url }}" target="_blank">{{ l.title ? l.title : "no_title" }}</a> {% if l.is_nsfw %}<i style="color:#e85cd3;" class="icofont icofont-close-circled"></i>{% endif %} {% if l.is_private %}<i class="icofont icofont-key"></i>{% endif %} {% if (l.type == "image" or (l.type == "video" and l.url|slice(-3) == "gif")) %}{{ l.width }}x{{ l.height }}{% endif %}   {% for t in l._tags %}<span class="uk-margin-left uk-label">{{ t }}</span>{% endfor %}</a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>

                <style>

                    li:target {
                        background-color: #ffa;
                    }

                    tbody tr.nsfw.private {
                        background: linear-gradient(to bottom, #ffcaca, #ffebb7);
                    }

                    tbody tr.nsfw {
                        background-color: #ffcaca;
                    }

                    tbody tr.private {
                        background-color: #ffebb7;
                    }

                </style>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    {% if list == "s" %}
        <script>
            UIkit.lightbox('#lb').show();
        </script>
    {% elseif list == "l" %}
        <script>
            $(document).ready(function() {
                if (location.hash) {
                    setTimeout(function() {
                        var elt = $(location.hash);
                        console.log(elt);
                        UIkit.scroll(elt);
                    }, 5000);
                }
            });
        </script>
    {% endif %}
{% endblock %}
