{% extends "base.twig" %}

{% block title %}Feeds{% endblock %}

{% block content %}
    <div class="uk-padding">
        <form method="post" action="/config/subscription/edit">
            <input type="hidden" name="user_id" value="{{ user.id }}"/>
            <div uk-grid>
                <div>
                    <label><input type="text" required="required" name="url" value="" placeholder="Url du flux" class="uk-input"/></label>
                </div>
                <div>
                    <select name="category_id" class="uk-select">
                        {% for _cat in categories %}
                            <option value="{{ _cat.id }}">{{ _cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button class="uk-button uk-button-primary">Add Feed subscription</button>
                </div>
            </div>
        </form>
        <hr/>

        <form method="post" name="import" action="/config/import" enctype="multipart/form-data">
            <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
            <div uk-form-custom>
                <input type="file" name="file" required="required" />
                <button type="button" class="uk-button uk-button-default"><i class="icofont icofont-files"></i>...</button>
            </div>
            <button class="uk-button uk-button-primary" ><i class="icofont icofont-upload"></i> Import</button>
            <a class="uk-button uk-button-primary" href="/config/export.opml"><i class="icofont icofont-download"></i> Export</a>
        </form>
        <hr/>

        <div uk-grid>
            <div>
                <h3>Tree</h3>
                <ul>
                    {% for _cat in categories  %}
                        <li class="cat droppable cat_{{ _cat.id }}" data-id="{{ _cat.id }}" {% if _cat.color %}style="background-color: {{ _cat.color }}"{% endif %}>
                            {% if _cat.id %}
                                <a>
                            {% endif %}
                            {{ _cat.name }}
                            {% if _cat.id %}
                                </a>
                            {% endif %}
                            <ul>
                                {% for _sub in _cat.subs %}
                                    <li class="sub draggable" data-id="{{ _sub.id }}">
                                        <a href="#{{ _sub.id }}">
                                            <i class="icofont icofont-{{ _sub.is_valid ? "check" : "broken" }}" style="color : {{ _sub.is_valid ? "green" : "red" }}"></i> {{ _sub.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    <li class="cat" data-id="new">
                        <a>Nouvelle catégorie</a>
                    </li>
                </ul>
            </div>
            <div class="uk-width-expand@m">
                <div id="ajax_area"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $( ".draggable" ).draggable();
            $( ".droppable" ).droppable({
                drop: function( event, ui ) {
                    var category_id = $(this).data("id");
                    var draggable = ui.draggable[0];
                    var subscription_id = $(draggable).data("id");
                    var _url = "/config/subscription/move/"+subscription_id+"/"+category_id;
                    window.location = _url;
                }
            });

            $('.cat').on('click', function(event) {
                var id = $(this).data("id");
                if (!id) {
                    return;
                }
                event.preventDefault();
                ajaxCategory(id);
            });

            $('.sub').on('click', function(event) {
                event.stopImmediatePropagation();
                var id = $(this).data("id");
                ajaxSubscription(id);
            });

            {% if (msg) %}
            UIkit.notification('Vos flux sont vides, ajoutez-en un ! :)', {pos: "top-left"});
            {% endif %}
        });

        var ajaxTest = function(elt) {
            $.ajax({
                url: $(elt).prop("href"),
                method: 'get',
                success: function(data) {
                    $('#result_ajax_sub').html(data);
                }
            });

            return false;
        };

        var ajaxCategory = function(id) {
            $.ajax({
                url: "/config/category/edit/"+id+"?ajax=1",
                method: 'get',
                success: function(data) {
                    $('#ajax_area').html(data);
                }
            });
        };

        var ajaxSubscription = function(id) {
            $.ajax({
                url: "/config/subscription/edit/"+id+"?ajax=1",
                method: 'get',
                success: function(data) {
                    $('#ajax_area').html(data);
                }
            });
        };
    </script>
{% endblock %}