{% extends "base.twig" %}

{% block title %}Feeds{% endblock %}

{% block content %}
    <div class="uk-padding">

        <div uk-grid>
            <div>
                <form method="post" action="/config/subscription/edit">
                    <input type="hidden" name="user_id" value="{{ user.id }}"/>
                    <div uk-grid>
                        <div>
                            <label><input type="text" required="required" name="url" value="" placeholder="Url du flux" class="uk-input"/></label>
                        </div>
                        <div>
                            <select name="category_id" class="uk-select">
                                {% for _cat in categories %}
                                    <option value="{{ _cat.id }}">{{ _cat.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <button class="uk-button uk-button-primary">Add Feed subscription</button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <form method="post" name="import" action="/config/import" enctype="multipart/form-data">
                    <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
                    <div uk-form-custom>
                        <input type="file" name="file" required="required" />
                        <button type="button" class="uk-button uk-button-default"><i class="icofont icofont-files"></i>...</button>
                    </div>
                    <button class="uk-button uk-button-primary" ><i class="icofont icofont-upload"></i> Import</button>
                    <a class="uk-button uk-button-primary" href="/config/export.opml"><i class="icofont icofont-download"></i> Export</a>
                </form>
            </div>
        </div>

        <hr/>

        <div>
            {% for _cat in categories  %}
                <div class="cat droppable cat_{{ _cat.id }}" data-id="{{ _cat.id }}">
                    {% if _cat.id %}
                    <a>
                        {% endif %}
                        <i class="icofont icofont-folder" style="{% if _cat.color %}color: {{ _cat.color }}{% endif %}; "></i>&nbsp;<span style="font-size:1.3em;">{{ _cat.name }}</span>
                        {% if _cat.id %}
                    </a>
                    {% endif %}
                    <ul>
                        {% for _sub in _cat.subs %}
                            <li class="sub draggable" data-id="{{ _sub.id }}">
                                <a href="#{{ _sub.id }}">
                                    <i class="icofont icofont-{{ _sub.is_valid ? "check" : "broken" }}" style="color : {{ _sub.is_valid ? "green" : "red" }}"></i> {{ _sub.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            <div class="cat" data-id="new">
                <a>Nouvelle catégorie</a>
            </div>
        </div>
    </div>

    <div id="modal_id" uk-modal>
        <div class="uk-modal-dialog uk-modal-body" id="ajax_area">
            <h2 class="uk-modal-title"></h2>
            <button class="uk-modal-close" type="button"></button>
        </div>
    </div>

    <style>
        .cat {
            border:solid 1px #e9e9e9;
            vertical-align:top;
            display: inline-block;
        }
    </style>


{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $( ".draggable" ).draggable();
            $( ".droppable" ).droppable({
                drop: function( event, ui ) {
                    var category_id = $(this).data("id");
                    var draggable = ui.draggable[0];
                    var subscription_id = $(draggable).data("id");
                    var _url = "/config/subscription/move/"+subscription_id+"/"+category_id;
                    window.location = _url;
                }
            });

            $('.cat').on('click', function(event) {
                var id = $(this).data("id");
                if (!id) {
                    return;
                }
                event.preventDefault();
                ajaxCategory(id);
            });

            $('.sub').on('click', function(event) {
                event.stopImmediatePropagation();
                var id = $(this).data("id");
                ajaxSubscription(id);
            });

            {% if (msg) %}
            UIkit.notification('Vos flux sont vides, ajoutez-en un ! :)', {pos: "top-left"});
            {% endif %}
        });

        var openModal = function() {
            UIkit.modal('#modal_id').show();
        };

        var ajaxTest = function(elt) {
            $.ajax({
                url: $(elt).prop("href"),
                method: 'get',
                success: function(data) {
                    $('#result_ajax_sub').html(data);
                }
            });

            return false;
        };

        var ajaxCategory = function(id) {
            $.ajax({
                url: "/config/category/edit/"+id+"?ajax=1",
                method: 'get',
                success: function(data) {
                    $('#ajax_area').html(data);
                    openModal();
                }
            });
        };

        var ajaxSubscription = function(id) {
            $.ajax({
                url: "/config/subscription/edit/"+id+"?ajax=1",
                method: 'get',
                success: function(data) {
                    $('#ajax_area').html(data);
                    openModal();
                }
            });
        };
    </script>
{% endblock %}