{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div uk-grid>
        <div class="uk-width-1-4@s uk-visible@s" id="tree">
            <div uk-sticky="offset:100">
                <p class="uk-text-center" id="fast_menu">
                    <a onclick="prev();"><i class="icofont icofont-circled-left"></i></a>
                    <a onclick="config();"><i class="icofont icofont-gear"></i></a>
                    <a onclick="star();"><i class="icofont icofont-star"></i></a>
                    <a onclick="next();"><i class="icofont icofont-circled-right"></i></a>
                </p>
                <ul class="uk-nav-default uk-padding-small uk-nav-parent-icon" id="main-nav" uk-nav>
                    <li data-cat_id="" class="cat cat_all">
                        <a href="#">
                            <i class="icofont icofont-rss-feed"></i>&nbsp;
                            All <span class="cat-label"></span>
                        </a>
                    </li>
                    <li class="cat cat_starred" data-starred="1" data-cat_id="">
                        <a id="starred">
                            <i class="icofont icofont-star"></i>&nbsp;
                            Starred <span class="cat-label"></span>
                        </a>
                    </li>
                    {% for _cat in tree %}
                        {% if (_cat.subs|length > 0) %}
                            <li class="uk-parent cat" data-cat_id="{{ _cat.id }}">
                                <a href="#">
                                    <i class="icofont icofont-folder" {% if _cat.color %}style="color: {{ _cat.color }}"{% endif %}></i>&nbsp;{{ _cat.name }} <span class="cat-label"></span>
                                </a>

                                {% if (_cat.subs|length) %}
                                    <ul class="uk-nav-sub">
                                        {% for _sub in _cat.subs %}
                                            <li class="sub_{{ _sub.id }} sub draggable" data-cat_id="{{ _cat.id }}" data-sub_id="{{ _sub.id }}">
                                                <a href="#{{ _sub.id }}"><i class="icofont icofont-rss-feed"></i>&nbsp;{{ _sub.name }} <span class="sub-label"></span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="uk-width-3-4@s uk-width-4-4 uk-padding-remove@s" uk-height-viewport="offset-top: true">
            <div id="top-div"></div>
            <div id="results" style="height:100%; overflow-y: auto; background-color: #f7f7f7"></div>
        </div>
    </div>

    <div id="footer_mobile" class="uk-child-width-expand uk-hidden@s uk-position-fixed uk-position-bottom" uk-grid>
        <div><a onclick="prev();"><i class="icofont icofont-circled-left"></i></a></div>
        <div><a onclick="config();"><i class="icofont icofont-gear"></i></a></div>
        <div><a onclick="star();"><i class="icofont icofont-star"></i></a></div>
        <div><a onclick="next();"><i class="icofont icofont-circled-right"></i></a></div>
    </div>


    <div id="modal_flow" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">

            <h2 class="uk-modal-title">Parameters</h2>
            <form id="filters">
                <input type="hidden" name="cat_id" id="filters_cat_id" value="" />
                <input type="hidden" name="sub_id" id="filters_sub_id" value="" />

                <div class="uk-margin">
                    <h3><i class="icofont icofont-eye"></i> Type</h3>
                    <label><input class="uk-radio" type="radio" name="read" value="0" id="read_0" checked>Unread only</label>
                    <label><input class="uk-radio" type="radio" name="read" value="1" id="read_1">Read only</label>
                </div>

                <div class="uk-margin">
                    <h3><i class="icofont icofont-star"></i> Starred</h3>
                    <label><input class="uk-radio" type="radio" name="starred" value="0" id="starred_0" checked>Unstarred</label>
                    <label><input class="uk-radio" type="radio" name="starred" value="1" id="starred_1">Starred only</label>
                </div>
            </form>

            <p class="uk-text-center">
                <button class="uk-button uk-button-primary uk-modal-close" type="button">OK</button>
            </p>
        </div>
    </div>

    <style>
        .cat-label, .sub-label {
            font-weight: bold;
        }

        #tree > p a i.icofont {
            font-size:2em;
        }

        #results article {
            box-shadow: 0 0 5px grey;
        }

        .status_read i, .status_favorite i {
            font-size:2em;
            color: #eeeeee;
        }

        .status_read.active i.icofont-check {
            color: #94ff80;
        }

        .status_favorite.active i.icofont-star {
            color: #ffa037;
        }

        #results > div.uk-container {
            max-width:800px;
        }

        #footer_mobile {
            height:50px;
            background-color: white;
        }

        #footer_mobile a {
            text-decoration: none;
            text-align: center;
            display: block;
            width:100%;
            height:100%;
        }

        #fast_menu a {
            text-decoration: none;
        }

        #footer_mobile a i, #fast_menu i {
            font-size:2em;
        }

    </style>
{% endblock %}

{% block script %}
    <script>
        var loading = false;
        var current_item = null;
        var auto_update = null;
        var current_list = {};


        var config = function() {
            UIkit.modal('#modal_flow').show();
        };

        var prev = function() {
            if (current_item) {
                var _current_id = $('#item_'+current_item);
                var next_items = $(_current_id).prevAll("article").first();
                if (next_items.length) {
                    current_item = $(next_items).data("id");
                }
            }
            else {
                current_item = $('#results article').first().data("id");
            }

            // scroll to
            if (current_item) {
                var element_offset = $("#item_" + current_item).offset().top;
                $(document).scrollTop(element_offset - 100);
            }

            return current_item;
        };

        var next = function() {
            if (current_item) {

                // change status before finding the next
                updateCurrentItem();

                // find next
                var _current_id = $('#item_'+current_item);
                var next_items = $(_current_id).nextAll("article").first();
                if (next_items.length) {
                    current_item = $(next_items).data("id");
                }
                else {
                    refresh();
                }
            }
            else {
                current_item = $('#results article').first().data("id");
            }

            // scroll to
            if (current_item) {
                var element_offset = $("#item_" + current_item).offset().top;
                $(document).scrollTop(element_offset - 100);
            }

            return current_item;
        };

        var openLink = function() {
            if (current_item) {
                var href = $("#item_"+current_item+" .uk-text-lead a").prop("href");
                if (href) {
                    var tab = window.open(href, '_blank');
                    //window.focus();
                }
            }
            return false;
        };

        var star = function() {
            if (current_item) {
                var _current_item = current_list[current_item];
                if (_current_item.starred === '1') {
                    _current_item.starred = '0';
                }
                else {
                    _current_item.starred = '1';
                }
                next();
            }
        };

        var allread = function() {
            for(_id in current_list) {
                current_list[_id].read = '1';
            }
            refresh();
        };

        var updateCurrentItem = function() {
            var _current_item = current_list[current_item];
            if (_current_item.read === '0') {
                _current_item.read = '1';
            }
        };

        var prepareItem = function(data) {
            current_list = data;
        };

        var toggleRead = function() {
            var _val = Math.abs($('input[name="read"]:checked').val()-1);
            $('#read_'+_val).prop("checked", true);
            refresh();
        };


        /**
         * populate the count for subscription and categories
         *
         * @param data
         */
        var populateCount = function(data) {

            $('.cat-label, .sub-label').removeClass('uk-label');
            // populate subscriptions
            for (var _var in data) {
                var value = parseInt(data[_var]);
                $('.sub_'+_var).find('span').html(value ? value : null);
                if (value) {
                    $('.sub_'+_var).find('span').addClass("uk-label");
                }
            }

            // populate categories
            var total = 0;
            $('#tree .cat').each(function() {
                var sum = 0;
                $(this).find(".sub-label").each(function() {
                    var text = $(this).text();
                    sum += parseInt(text ? text : 0);
                });
                total += sum;
                if (sum > 0) {
                    $(this).find(".cat-label").html(sum).addClass("uk-label");
                }
                else {
                    $(this).find(".cat-label").html('');
                }
            });
            $('.cat_all').find('.cat-label').html(total ? total : "");
            $('.cat_starred').find(".cat-label").html(data['starred']);
        };

        // on click on categories
        $('#tree #main-nav .cat a').on('click', function() {
            var li = $(this).parent();

            // avoid cats opened
            if ($(li).hasClass("uk-open")) {
                return;
            }
            var cat_id = li.data("cat_id");
            var sub_id = li.data("sub_id");
            var starred = li.data("starred");
            $('#filters_cat_id').val(cat_id);
            $('#filters_sub_id').val(sub_id ? sub_id : null);
            $('#starred_'+(starred ? "1" : "0")).prop('checked', true);
            refresh();
        });

        var update = function() {
            $.ajax({
                method: "get",
                url: "/update",
                beforeSend: function() {
                    showAction('<a><div uk-spinner></div></a>');
                    if (auto_update) {
                        clearInterval(auto_update);
                    }
                },
                complete: function() {
                    cleanAction();
                    initAutoUpdate();
                }
            }).done(function(data) {
                var nb = parseInt(data);
                if (nb) {
                    if (Notification.permission === "granted") {
                        var notification = new Notification(nb+' nouveaux items');
                    }

                    var _nb_item = 0;
                    for(_i in _nb_item) {
                        nb = nb+1;
                    }

                    if (!_nb_item) {
                        refresh();
                    }
                }
            });
        };

        var refresh = function() {
            var oform = $('#filters');
            if (!loading) {
                var params = oform.serialize();
                for (_id in current_list) {
                    params = params+"&status["+_id+"][read]="+current_list[_id].read;
                    params = params+"&status["+_id+"][starred]="+current_list[_id].starred;
                }
                $.ajax({
                    url: "/ajax_flow",
                    method: "post",
                    data: params,
                    beforeSend: function() {
                        loading = true;
                        showAction('<a><div uk-spinner></div>Loading...</a>');
                    },
                    success: function (data) {
                        document.location.href="#top";
                        $('#results').html(data);
                        current_item = null;
                        next();

                        // load images when 'inview' is fired
                        $('article').not(".loaded").on('inview', function () {
                            $(this).find("img").each(function (it, elt) {
                                var lazy = $(elt).data("lazy_src");
                                var src = $(elt).attr("src");
                                if (lazy && src) {
                                    $(elt).attr("src", lazy);
                                }
                            });

                            $(this).addClass("loaded");
                        });
                    },
                    complete: function () {
                        loading = false;
                        cleanAction();
                    }
                });
            }
        };

        var initAutoUpdate = function() {
            auto_update = setInterval(function(){
                update();
            }, 120000)
        };

        $(document).ready(function() {
           refresh();

           $('#all_update').click(function (e) {
               e.preventDefault();
               update();
           });

           $('#modal_flow').on('hide', function() {
               refresh();
           });

        });

        $(document).on('keyup', function(event) {
            if ( event.which === 32 ) { // space : open link
                openLink();
            }
            if ( event.which === 74 ) { // J
                next();
            }
            if ( event.which === 75 ) { // K
                prev();
            }
            if ( event.which === 82 ) { // R
                refresh();
            }
            if ( event.which === 76 ) { // L
                star();
            }
            if ( event.which === 72 ) { // H : all current page read
                allread();
            }
            event.preventDefault();
            event.stopImmediatePropagation();
        });
    </script>
{% endblock %}